footer, small{
	text-align: center;
	background-color: #222831;
	color: #FFFFFF;
	/*padding-top: 20px;*/
}

footer{
    /* height:24px;  */
    width: 100%; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

footer div{
    padding-top: 10px;
}

footer a {
    margin-left: 25px;
}