#navigation-menu {
    background-color: #222831;
	height: 70px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

.nav-link:hover{
	font-weight: bold;
	text-decoration: underline;
	color:  #EEEEEE !important;
}

.active{
	font-weight: bold;
	text-decoration: underline;
	color:  #EEEEEE !important;
}

.nav-link{
	font-size: 20px;
	margin: 5px;
	color: #EEEEEE;
}

#navbarNav div{
	margin-right: 50px;
}

#navbar-button{
	margin-right: 50px;
}


#logo img{
	max-height: 50px;
	max-width: 50px;
	border-radius: 50px;
	margin-left: 50px;
	margin-right: 20px;
}

#logo{
	color: #EEEEEE;
	font-size: 30px;
	font-family: Lora, serif;
	color: #EEEEEE;
}


@media (max-width: 991.98px) {
	.navbar-toggler{
		background-color: #393E46;
	}

	#navbarNav div{
		background-color: #222831;
		text-align: center;
		margin-right: 0px;
	}

	.active{
		background-color: 	#222831;
	}
}